.history-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  padding: 20px;
  background-color: orange;
}

.history-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.history-header h1 {
  flex-grow: 3;
  color: white;
}

.history-header button {
  background-color: white;
}

.history-table-container {
  flex: 1 1 auto;
  overflow: auto;
  justify-content: center;
  align-items: center;
}

table, th, td, mat-paginator {
  color: white;
  background: black;
}

table {
  border-collapse: collapse;
}