.counter-button {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.counter-button button {
    width: 100%;
    height: 100%;
    background-color: orange;
}

.counter-button button mat-icon {
    transform: scale(5);
    color: white;
}