<div class="buttons">
    <div class="button-container">
        <button mat-fab class="add-button" (click)="incrementCounter()">
            <mat-icon>add_circle</mat-icon>
        </button>
    </div>
    <div class="counter-container">
        <button mat-fab (click)="openDialog()">
            <h3 class="counter-display">
                {{ counter }}
            </h3>
        </button>
    </div>
    <div class="button-container">
        <button mat-fab class="remove-button" (click)="decrementCounter()">
            <mat-icon>do_not_disturb_on</mat-icon>
        </button>
    </div>
</div>