.dialog-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 80vw;
    height: 80vh;
    background-image: linear-gradient(to bottom right, white, #E9DCCF);
}

table {
  width: 100%;
}